

 
    <!DOCTYPE html>

    <head>
        <title>WCD</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
     
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    
    <body>
    
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" style="font-family:Impact" href="/">IMT</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/admin">Admin</a></li>
                </ul>
            </div>
        </nav>
    
    <html lang="en">
    
    <head>
        <title>ADMIN PAGE</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
    
    </head>
    
    
    
        <div class="container">
            <h1>Administrator Level - Add Theater</h1>
            <br>
            <br>
<br>
<Br>
    <h2>Add Theater To Database</h2>
    <table id="addTheater" class="table table-bordered table-striped">
        
        <thead>
            <tr>
                <th>ENTER SCREEN NAME TO ADD:</th> 
                <th>
                <form name='screenName' action="" method="POST">
                    <input type = "text" name="screenName">
                </th>
                <th><button class="btn btn-primary btn-sm" type="submit" name="button1" value="submitScreen">Submit</button></th>
            </form>
            </tr>
        </thead>

    </table> 


           
    </div>   
    
    
    
        <script>
            $(document).ready(function() {
                $("#myInput").on("keyup", function() {
                    var value = $(this).val().toLowerCase();
                    $("#myTable tr").filter(function() {
                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                    });
                });
            });
        </script>
    
    
        <script src="/static/java.js "></script>
    
    </body>
    
    </html>