<!-- <!DOCTYPE html> -->
<html lang="en">

<head>
    <title>Isaac's Theater</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/styles2.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" style="font-family:Impact" href="/">IMT</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">HOME</a></li>
                <li><a href="/movies">NOW PLAYING</a></li>
                <li><a href="/checkout">CHECKOUT</a></li>
                <li><a href="/adminPage.html">ADMIN</a></li>
        </div>
    </nav>

    <!-- <img src="/static/westcoastDevTheater.png" width = "350" height= "150"> -->
    <img src="/static/isaac_movie_logo_2.png" width = "400" height= "200">
    <!-- <img src="/static/isaacs_movie_logo.png"> -->
    
    <br>
    <br>
    <br>

    </p>

    <div id="slide">
        <div class="slideshowCarousel">
            <div class="carouselSlides"> <img src="/static/anchorman.jpg" style="width:75%"></div>
            <div class="carouselSlides"> <img src="/static/itmovie.png" style="width:75%"></div>
        </div>
    <br>
    </div>

</body>

</html>

<script src="/static/java.js"></script>
</body>

</html>